# macOS
.DS_Store

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Secrets (we'll use this when we add an API key)
.env

# Temp XLSX written by scripts/fetch_eu_prices.py while running
data/_*.xlsx
